@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
}
@model IEnumerable<LibraryRepositoryDemo.Models.Book>

<h2>Books</h2>

<a asp-action="Create">Add New Book</a>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@book.BookId</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Price</td>

            <td>
                <a asp-action="Details" asp-route-id="@book.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@book.BookId">Delete</a>
            </td>
        </tr>
    }

</table> *@

@model IEnumerable<LibraryRepositoryDemo.Models.Book>

<div class="container mt-4">

    <h2 class="mb-4">Library Books</h2>

    <a asp-action="Create" class="btn btn-primary mb-3">Add New Book</a>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Book Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th width="180">Action</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>₹ @book.Price</td>

                    <td>
                        <a asp-action="Details" asp-route-id="@book.BookId" class="btn btn-info btn-sm">Details</a>

                        <a asp-action="Delete" asp-route-id="@book.BookId" class="btn btn-danger btn-sm"
                           onclick="return confirm('Are you sure to delete this book?')">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>